/* Contact section Styling */
.contact {
    padding: 75px 0 75px 0;
    background: #131F31;
}
.contact .subtitle {
    width: 90%;
    margin: 0 5%;
    width: 350px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: #9CAFBF;
    margin-bottom: 30px;
}
.contact-content {
    width: 90%;
    margin: 0 5%;
}
.contact-content .social-media .social-box {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 35px 35px 35px;
    gap: 5px;
    justify-content: center;
}
.contact-content .social-media .social-box img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.25s;
}
.contact-content .social-media .social-box img:hover {
    transform: scale(1.05);
}
@media (min-width: 1024px) {
    .contact-content {
        width: 80%;
        margin: 0 10%;
    }
    .contact-content .social-media .social-box {
        grid-template-columns: 40px 40px 40px;
        gap: 30px;
    }
    .contact-content .social-media .social-box img {
        width: 40px;
        height: 40px;
    }
}